# files to include
!*.yaml
!.gitignore
!*.md
/.vscode/settings.json

# files to exclude
secrets.yaml
watchman_report.txt
home-assistant_v2.db*
zigbee.db*

# directories to exclude
/blueprints
/c-sharp-for-homeassistant
/custom_components
/esphome
/image
/packages
/tts
/www
/themes
/ui_lovelace_minimalist

# other recommendations from video https://www.youtube.com/watch?v=hhv-WqGUy_o
.ssh
.storage
.cloud
.google.token
home-assistant.log*
id_rsa*
